@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma-extensions/bulma-timeline/dist/css/bulma-timeline.sass";
@import "../node_modules/@creativebulma/bulma-collapsible";

pre {
  white-space: pre-wrap;
  text-align: left;
  word-break: break-word;
}
